.container {
  display: grid;
  height: 70vh;
  width:100vw;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.free-container {
  background-color: lightgray;
  border-radius: 10px;
}

.basic-container {
  background-color: lightgray;
  border-radius: 10px;
}

.premium-container {
  background-color: lightgray;
  border-radius: 10px;
}

.free {
  text-align: center;
  margin: 20px 0;
}

.basic {
  text-align: center;
  margin: 20px 0;
}

.premium {
  text-align: center;
  margin: 20px 0;
}

.price-1 {
  text-align: center;
  background-color: red;
  padding: 20px 10px;
}

.price-2 {
  text-align: center;
  background-color: red;
  padding: 20px 10px;
}

.price-3 {
  text-align: center;
  background-color: red;
  padding: 20px 10px;
}

p {
  text-align: center;
  margin-top: 20px;
}

.feature-1 {
  padding: 10%;
}

.feature-2 {
  padding: 10%;
}

.feature-3 {
  padding: 10%;
}

.button-1  {
  text-align: center;
  width: 25%;
  margin: 20px auto;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: darkblue;
  padding: 7px 40px;
  border: 1px solid #ffffff;
  font-weight: bold; 
  
}

.button-2 {
  text-align: center;
  width: 25%;
  margin: 20px auto;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: darkblue;
  padding: 7px 40px;
  border: 1px solid #ffffff;
  font-weight: bold; 
  
}

.button-3 {
  text-align: center;
  width: 25%;
  margin: 20px auto;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: darkblue;
  padding: 7px 40px;
  border: 1px solid #ffffff;
  font-weight: bold; 
}

a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}